# Repositorios locales
OLD_REPO_PATH=C:\Users\...\data-processing-platform
NEW_REPO_PATH=C:\Users\...\data-processing-platform-dev

# Base de datos
DB_HOST=10.0.0.16
DB_PORT=5434
DB_USER=postgres
DB_PASS=datax
DB_NAME=platform_db

# GitHub
GITHUB_REPO=datax-platform/data-processing-modules
GITHUB_TOKEN=
