# Repositorios locales (Rutas en tu equipo local)
OLD_REPO_PATH=E:\DATAX\data-processing-platform-nico\
NEW_REPO_PATH=E:\DATAX\data-processing-platform-dev-nico\

# ===============================================================
# Configuración Servidor Remoto (SSH / Despliegue SFTP / Airflow)
# ===============================================================
SSH_HOST=10.0.0.16
SSH_PORT=22
SSH_USER=datax-pds
SSH_PASS=tu_contrasenia_ssh_aqui

# ===============================================================
# Configuración Base de Datos PostgreSQL (platform_db)
# ===============================================================
DB_HOST=10.0.0.16
DB_PORT=5434
DB_USER=postgres
DB_PASS=datax
DB_NAME=platform_db

# ===============================================================
# Integración GitHub
# ===============================================================
GITHUB_REPO=datax-platform/data-processing-modules
GITHUB_TOKEN=

# ===============================================================
# Inteligencia Artificial (Google Gemini)
# ===============================================================
GEMINI_API_KEY=
